<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/src/assets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <input type="text" v-model="myName">
  <p>나는 {{ myName }} 입니다.</p>
  <p>{{ myName.length }}</p>
  <hr>
  <!-- checkbox 체크 선택 시, true 값이 v-model 에 설정한 변수('빈문자열안됨' or boolean)에 담긴다 -->
  <input type="checkbox" v-model="myCheck" value="testValue">
  체크박스 상태는 {{ myCheck }} 입니다
  <hr>
  <!-- 여러개의 checkbox 에 설정된 value 값을 v-model 에 설정한 [] 에 담을 수 있다 -->
  <div>
    <label><input type="checkbox" v-model="myChecks" value="red">적</label>
    <label><input type="checkbox" v-model="myChecks" value="green">녹</label>
    <label><input type="checkbox" v-model="myChecks" value="blue">청</label><br>
    선택한 색은 {{ myChecks }} 입니다.
  </div>
  <hr>
  <!-- 체크 선택 시, myAgree 는 true 로 변경돤다 -->
  <input type="checkbox" v-model="myAgree">
  <!-- :disabled 가 true 상태일 때, 비활성화 처리 된다 -->
  <button :disabled="!myAgree">송신</button>
  <hr>
  <label><input type="radio" value="red" v-model="picked">적</label>
  <label><input type="radio" value="green" v-model="picked">녹</label>
  <label><input type="radio" value="blue" v-model="picked">청</label><br>
  <div :style="{color: changeColor}">{{ picked }} 이 선택됨</div>
  <hr>
  <!-- radio type 을 동일한 v-model="동일변수" 동일한 data 로 설정하면 체크 한번만 실행된다 -->
  <label>
    <input type="radio" value="face1.jpg" v-model="fileName">
    face1
  </label>
  <label>
    <input type="radio" value="face2.jpg" v-model="fileName">
    face2
  </label>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    myName: '',
    myCheck: '',
    // 초기값은 보통 false, '' or false 처리하면 체크 선택 시, true 가 담긴다.
    // [] 로 만들고 value='testValue' 설정 시, 배열안에 testValue 값이 지정된다.

    myChecks: [],
    myAgree: false,
    picked: 'red',  // 빈문자열이 아니므로 value 로 처리할 수 있다
    fileName: '',
  },
  computed: {
    // 빨강 -> 초록, 파랑 -> 빨강, 초록 -> 파랑
    changeColor: function() {
      if(this.picked === 'red') {
        return 'green'
      } else if(this.picked === 'blue') {
        return 'red'
      } else {
        return 'blue'
      }
    },
  },
})
</script>
</body>
</html>
<!-- input checkbox 는 체크 시 true , 체크가 아니면 false 값을 갖는다 -->
<!-- check 와 v-model 을 사용하여 check 한 버튼의 value 를 v-model 로 가져올 수 있다 -->
<!-- 여러 가지 선택할 때 checkbox 사용하고, 한 가지만 선택 시 radio button 사용한다 -->
<!-- :style="{color: 데이터값 or computed 함수 or methods 를 가져올 수 있다}" -->
