<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>bindTest2</title>
  <link rel="stylesheet" href="/src/assets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<h1></h1>
<div id="app">
    <a href="https://roadbook.co.kr">직접 링크 지정</a>
    <a :href="myURL">v-bind 로 링크 지정</a>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    myURL: 'https://roadbook.co.kr'
},
})
</script>
</body>
</html>
<!-- src 대신 :src 처럼 바인딩 사용하여 data 를 사용할 수 있다 -->
