<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>bindtest4</title>
  <link rel="stylesheet" href="/src/assets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <p style="color: #E80;">직접 색 지정</p>
  <p :style="{ color: myColor }">v-bind 로 색 지정</p>

  <p style="font-size: 200%">직접 글자 크기 지정</p>
  <p :style="{'fontSize': mySize}">v-bind 로 크기 지정</p>

  <p style="background-color: aqua;">직접 배경색 지정</p>
  <p :style="{ backgroundColor: myBackColor }">v-bind 로 배경색 지정</p>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    myColor: '#E08000',
    mySize: '200%',
    myBackColor: 'aqua',
  },
})
</script>
</body>
</html>
