<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/src/assets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<style>
  .strike-through {
    text-decoration: line-through;
    color: lightgray;
  }
  .dark {
    background-color: gray;
  }
</style>
<div id="app">
  <p class="strike-through">직접 style 지정</p>

  <p :class="myClass">v-bind 로 style 지정</p>

  <p :class="[ myClass, darkClass ]">v-bind 복수 클래스 지정</p>

  <p :class="{ 'strike-through': isOn }">데이터로 클래스 ON/OFF</p>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    myClass: 'strike-through',
    darkClass: 'dark',
    isOn: true,
  },
})
</script>
</body>
</html>
<!-- isOn 이 true 이면 class 에 strike-through 설정된다. -->