<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/src/assets/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<style>
  .strike-through {
    text-decoration: line-through;
    color: lightgray;
  }
  .dark {
    background-color: gray;
  }
</style>
<div id="app">
  <p class="strike-through">직접 style 지정</p>
  <p :class="myClass">v-bind 로 style 지정</p>
  <p :class="[ myClass, darkClass ]">v-bind 복수 클래스 지정</p>
  <p :class="{ 'strike-through': isOn }">데이터로 클래스 ON/OFF</p>
</div>
<script>
new Vue({
  el: '#app',
  data: {
    myClass: 'strike-through',
    darkClass: 'dark',
    isOn: true,
  },
})
</script>
</body>
</html>
<!-- class bind 
  1. 한개를 binding 하는법 
  2. 여러개를 binding 하는법 
  3. css 의 style 중, id 나 class 를 class 에 지정하여, data 에 설정한 속성으로 동작하게 하는 방법 
    - data 속성인 isOn 이 true 면, strike-through class 가 동작한다.
-->

